@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Alfa+Slab+One&family=Space+Mono:wght@700&family=Lexend:wght@700');

html {scroll-behavior: smooth;}
body {
  margin: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar                   { width: 1.3vw; height: 1.3vw; }
::-webkit-scrollbar-track             { background: #EEE; }
::-webkit-scrollbar-track-piece:start { /*background: repeating-linear-gradient(130deg, #ce8b3b  0px, #ce8b3b 20px, #c24219 20px, #c24219 40px, #d4af27 40px, #d4af27 60px);*/ 
                                        /*background: repeating-linear-gradient(45deg, #1c78e9, #2d9cc6, #57c28d); */
                                        background: #bf382f;
                                      }
::-webkit-scrollbar-track-piece:end   { /*background: repeating-linear-gradient(45deg, #e12d71, #e68642, #e3d63c);*/
                                        background: #bf382f;
                                      }
::-webkit-scrollbar-thumb             { background: #ffc107; width: 20vw;}
::-webkit-scrollbar-thumb:hover       { background: #fffaeb; }
::selection {
  color: #ffc107;
  background: #bf382f;
}


.header {
  width: 100%;
  height: 50px;
  background: #bf382f;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index:5;
}
a {
  font-family: "Staatliches";
  font-size: 40px;
  margin: 0 40px;
  text-decoration: none;
  color: transparent;
  background: #fcc;
  background-attachment: fixed;
  -webkit-background-clip: text;
  transition: 0.15s;
}
.header a:hover{
  text-shadow: -4px -4px #fcc;
  background: #930a0a !important;
  -webkit-background-clip: text !important;
}
.header a.active{
  background: #ffc107;
  -webkit-background-clip: text;
}

#LatestNews {
  z-index: 4;

  position: fixed;
  top: 70px;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 5px;
  background: #000;
  marquee-speed: fast;
}
#LatestNews>a{
  font-family: "Space Mono";
  font-size: 35px;
  font-weight: bold;
  color: transparent;
  background: repeating-linear-gradient(90deg, #f83333, #e064d4, #28c8de);
  background-attachment: fixed;
  -webkit-background-clip: text;
}

#CONTENT{
  position: relative;
}
.Snippet {
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.Snippet>*{
  z-index: 1;
  position: relative !important;
  width: calc(80% - 70px);

  background: inherit;
  color: #000000AA;
  -webkit-background-clip: text;
}
.Snippet>h2 {
  margin: 0px;
  padding-top: 30px;
  font-size: 70px;
  font-family: "Alfa Slab One";
}
.Snippet>div.paragraph {
  padding: 10px;
  font-size: 30px;
  font-family: "Staatliches";
}
.Snippet>.buttonContainer{
  margin-top: 20px;
  display: grid;
}
.button{
  margin-bottom: 20px;
  padding: 10px 20px;
  color: white;
  background: #647fbc;
}
.button:hover{
  background: repeating-linear-gradient(45deg, #1c78e9, #2d9cc6, #57c28d);
}
.light_overlay{
  z-index: 0;
  position: absolute !important;
  top: 0;
  left: 10%;
  height: 100%;
  width: 80%;
  background: #FFFFFFCC;
}


#footer {
  position: relative;
  width: 100%;
  height: 350px;
  background: #40588b;
  color: white;
  display: inline-flex;
  justify-content: center;

  color: #d5e7ff;
  font-family: "Staatliches";
  font-size: 48px;
}
#footer>div {
  margin: 40px;
}

#footer>*>a {
  margin: 0;

  font-size: 22px;
  font-family: "Space Mono";
  color: transparent;
  background: #c7d0e5;
  background-attachment: fixed;
  -webkit-background-clip: text;
}
#footer>*>a:hover {
  background: repeating-linear-gradient(45deg, #ff8ec0, #e38aff, #64d5ff, #99ffcc);
  -webkit-background-clip: text;
}
#copyright{
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 35px;
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 6px solid #d5e7ff;

  font-family: "Space Mono";
  font-size: 22px;
  text-align: start;
  color: transparent;
  background: repeating-linear-gradient(45deg, #ff8ec0 2vw, #e38aff 4vw, #64d5ff 6vw, #99ffcc 8vw, #64d5ff 10vw, #e38aff 12vw, #ff8ec0 16vw);
  background-attachment: fixed;
  -webkit-background-clip: text;
}
input::placeholder{
  color: #c7d0e5;
}