#logo {
  position:    fixed;
  top     :    0px;
  left    :    0px;
  width   :    140px;
  height  :    140px;
  background:  #fee;
  transition:  0.15s;
}
#logoIMG {
  width: 100%; height: 100%;
  background:  url("https://cdn.glitch.global/2f875abb-5388-450d-8613-bd657c26368b/Logo.png?v=1673799461084") center/cover;
}
#sidebar:hover #logo {
  width   :    300px;
  height  :    180px;
}

#sunset {
  width  :     100%;
  height :     100%;
  opacity:     0.5;
  /*   background:  linear-gradient(0deg, hsl(350deg 80% 50%), hsl(55deg 90% 50%)); */
  background:  #000000cc;
  transition:  0.15s;
}
#sidebar:hover #sunset {
  background:  #fee;
  opacity:     1;
}

.icon {
  transform:   translate(-15px, 0px);
  width:       40px;
  height:      25px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}
#sidebar:hover .icon {
  transform:   translate(0px, 5px);
  width:       90px;
  height:      50px;
  margin-right: 10px;
}


#sidebar {
  z-index:     5;
  position:    fixed;
  width:       50px;
  height:      100%;
  transition:  0.15s;
}
#sidebar:hover {
  width  :     300px;
}

#selectors {
  position:    fixed;
  top     :    140px;
  left    :    1px;
  width   :    35px;
  padding :    5px;
  transition:  top 0.15s, height 0.15s, width 0.15s;

  overflow:    hidden;
  white-space: nowrap;
}
#sidebar:hover #selectors {
  top     :    180px;
  width   :    290px;
  height  :    calc(100% - 190px);
  overflow:    hidden auto;
}
#selectors::-webkit-scrollbar {
  display : none;
}

#selectors div {
  padding-left  : 15px;
  padding-right : 10px;
  background    : transparent;
  color         : #bf1e2d;
/*   font-weight   : bold; */
  font-family   : "Staatliches";
  font-size     : 34px;
  transition    : background 0.2s, color 0.2s;
  cursor        : pointer;
}
#selectors div:hover {
  color       : #e39525;
  background  : #ff000011;
}
#selectors div:active {
  color       : #f5be48;
}

#selectors > div > div, #selectors > div > div > div {
  font-size: 17px;
  height  :    0;
  transform:   translate(-50%, 0);
  opacity :    0;
  transition:  transform 0.3s, opacity 0.3s;
}
#selectors > div:hover > div, #selectors > div > div:hover > div {
  height  :    auto;
  transform:   translate(0, 0);
  opacity :    1;
}