@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.light_overlay.article {
  left: 0;
  height: 29.7vw; 
  background: linear-gradient(90deg, #FFFFFFDD 0%, #FFFFFFDD 99%, transparent 100%);
}
.Snippet.Article>h2, .Snippet.Article>h3, .Snippet.Article>h4{
  left: 2vw;
  width: calc(80% - 4vw);
}
.Snippet.Article>h2{
  font-size: 2.71828183vw;
}
.Snippet.Article>h3{
  left: 12vw;
  margin-top: 6.7vw;
  
  font-size: 2vw;
  font-family: "Rokkitt";
}
.Snippet.Article>h4{
  margin-top: 6.5vw;
  
  font-size: 2vw;
  font-family: "Staatliches";
  font-style: italic;
}
.Snippet.Article>.paragraph{
  left: 2vw;
  margin-top: 9.6vw;
  width     : 70%;
  background: inherit;
  background-position: center;
  background-attachment: fixed;

  color    : #00000059;
  font-size: 1.7vw;
  font-family: "Gentium Book Plus";
  font-weight: 700;
  -webkit-background-clip: text;
}