#scrollContainer{
  height: 80vw;
  overflow: auto hidden;
}

#SCROLLER {
  width: 500vw;
}

.biography.snippet {
  width: 40vw;
  height: 40vw;
  display: inline-block;
  
  background-attachment: unset;
  background-size: 200%;
  background-position: center; 
  
}

.biography.snippet>.light_overlay{
  position: relative;
  left: inherit;
  margin-top: 30vw;
  height: 7.4vw;
  width: 40vw;
  
  background: #FFFFFFDE;
  opacity: 1;
}
.biography:hover > .light_overlay{
  margin-top: 0;
  height: 37.4vw;
}

.biography.snippet > *{
  position: relative;
  width: 40vw;
  opacity: 0;
  transition: .2s, opacity 0s linear 0s;   //namecard moves down immediate
}
.biography.snippet:hover > *{
  opacity: 1;
  transition: .2s, opacity .2s linear .2s; //namecard moves up transition
}

.biography.snippet>h2 {
  margin-top: 0vw;
}
.biography.snippet>ul {
  margin-top: 9vw;
  font-size: 1.6vw;
  font-family: "Space Mono";
}