#scrollContainer{
  height: 40vw;
  overflow: auto hidden;
}

.biography.snippet {
  width: 40vw;
  height: 40vw;
  display: inline-block;
  
  background-attachment: unset;
  background-size: 200%;
  background-position: center; 
  
}

.biography.snippet>.light_overlay{
  position: relative;
  left: inherit;
  margin-top: 30vw;
  height: calc(10vw - 15px);
  width: 40vw;
  
  background: #FFFFFFDE;
  opacity: 1;
}
.biography:hover > .light_overlay{
  margin-top: 0;
  height: calc(40vw - 15px);
}

.biography.snippet > *{
  position: relative;
  width: 40vw;
  opacity: 0;
  transition: .2s, opacity 0s linear 0s;   //namecard moves down immediate
}
.biography.snippet:hover > *{
  opacity: 1;
  transition: .2s, opacity .2s linear .2s; //namecard moves up transition
}

.biography.snippet>h2 {
  transform: translateY(-40vw);
  background-position: 50% calc(50% + 13.5vw);
}
.biography.snippet>.rolesList {
  transform: translateY(-44vw);
  font-size: 1.6vw;
  font-style: italic;
  font-family: "Space Mono";
  width: 20vw;
}
.biography.snippet>.paragraph {
  transform: translateY(-56vw);
  left: inherit;
  width: 35vw;
  text-align: justify;

}