#scrollContainer{
  position: relative;
  height: 600px;
  overflow: auto hidden;
  scroll-behavior: smooth;
}
#scrollContainer::-webkit-scrollbar {
  display : none;
}

.biography.snippet {
  position: relative;
  width: 600px;
  height: 600px;
  display: inline-table;
  
  background-attachment: unset;
  background-size: 100%;  
}

.biography.snippet>.light_overlay{
  z-index: 1;
  left: inherit;
  top: unset;
  bottom: 0px;
  height: 80px;
  width: 100%;
  opacity: 1;
}
.biography:hover > .light_overlay{
  height: 100%;
}

.biography.snippet > *{
  z-index: 2;
  position: relative;
  opacity: 0;
  transition: .2s, opacity 0s ease 0s;
/*   //namecard moves down immediate */
}
.biography.snippet:hover > *{
  opacity: 1;
  transition: .3s, opacity .2s ease .2s;
/*   //namecard moves up transition */
}

.biography.snippet>h2 {
  opacity: 1;
  font-size: 40px;
  transform: translateY(500px);
  font-family: "Alfa Slab One";
}
.biography.snippet:hover > h2{
  transform: translateY(0);
}

.biography.snippet>.rolesList {
  font-size: 24px;
  font-style: italic;
  font-family: "Space Mono";
  transition: opacity 0s ease 0s;
}
.biography.snippet:hover>.rolesList {
  transition: opacity .2s ease .4s;
}
.biography.snippet>.paragraph {
  left: inherit;
  margin-top: 20px;
  width: 80%;
  font-family: "Staatliches";
  font-size: 25px;
  text-align: justify;
  transition: opacity 0s ease 0s;
}
.biography.snippet:hover>.paragraph {
  transition: opacity .2s ease .6s;
}

.scrollbutton {
  z-index: 4;
  position: absolute;
  top: calc(50% - 35px);
  width: 70px;
  height: 70px;
  
  background: #bf382f;
  border-top: 6px solid #ffc107;
  border-bottom: 6px solid #ffc107;
  color: #ffc107;
  font-size: 40px;
  text-align: center;
  opacity: .6;
  cursor: pointer;
}
.scrollbutton:hover{
  opacity: 1;
}
.scrollbutton.left{ left: 70px; }
.scrollbutton.right{ right: 20px; }