@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.light_overlay.article {
  left: 0;
  background: #FFFC;
/*   background: linear-gradient(90deg, #FFFFFFDD 0%, #FFFFFFDD 97%, #FFFFFFEE 99%, transparent 100%); */
}
.Snippet.Article>*{
  margin: 0;
  padding-left: 70px !important;
}
.Snippet.Article>h2{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 49px;
}
.Snippet.Article>.subtitle{
  padding-left: 30px !important;
  font-size: 34px;
  font-family: "Rokkitt";
}
.Snippet.Article>.date{  
  font-size: 34px;
  font-family: "Staatliches";
  font-style: italic;
}
.Snippet.Article>.paragraph{
  background: inherit;
  color    : #00000059;
  font-size: 25px;
  font-family: "Gentium Book Plus";
  font-weight: 700;
  -webkit-background-clip: text;
}