@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css2?family=Lora');

#CONTENT{
  background: white;
}

#ArticleContainer {
  margin-left: 10vw;
  width: 70vw;
  padding: 12vw 5vw;
  background: #000000CC;
  color: #EEE;
}

#ArticleContainer>