@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


#ArticleContainer {
  zoom: 140%;
  margin-left: 10%;
  width: 70%;
  padding: 200px 5%;
  background: #FFFFFFDC;
  color: #000;
}

#ArticleContainer>img {
  padding: 2% 20%;
  width: 60%;
  height: auto;
}

#ArticleContainer>*>a {
  margin: 0;
  color: #40588b;
  font-size: 13px;  
  font-weight: bold;
}
#ArticleContainer>*>a:hover {
  color: #bf382f;
}