@import url('https://fonts.googleapis.com/css2?family=Oswald');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');


#ArticleContainer {
  margin-left: 10vw;
  width: 70vw;
  padding: 200px 5vw;
  background: #FFFFFFDC;
  color: #000;
}

#ArticleContainer>img {
  padding-left: 10vw;
  width: 50vw;
  height: auto;
}

#ArticleContainer>*>a {
  margin: 0;
  color: #40588b;
  font-size: 13px;  
  font-weight: bold;
}
#ArticleContainer>*>a:hover {
  color: #bf382f;
}